<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNGReport" parallel="methods" thread-count="4" preserve-order="true"> 
<parameter name="environment"  value="qa"/>
<test name="test" group-by-instances="true">
 <classes>
   <class name="com.mytest.LoginTest"/> 
 
  </classes>

</test>
</suite>